{
    "settings": {
      "import/core-modules": ["react", "React"]
    },
    "rules": {
      "import/extensions" : ["error", { "jsx": "never" } ],
      "react/prop-types": 0,
      "react/jsx-filename-extension": 0,
      "jsx-a11y/anchor-is-valid": 0,
      "react/jsx-curly-brace-presence": [2, { "props": "ignore", "children": "ignore" }],
      "react/jsx-no-undef": [2, { "allowGlobals": true }],
      "import/no-extraneous-dependencies": ["error", {"devDependencies": ["**/*.test.js", "**/*.setup.js"]}]
    },
    "globals": {
        "React": false,
        "describe": false,
        "it": false,
        "expect": false
    },
    "extends": "airbnb"
  }
